@buttonPrefix: graphxr-icon-picker;
@background: white;

.@{buttonPrefix} {
  padding: 20px;
  background: @background;
  border-radius: 3px;
  color: white;

  .ant-col  {
    display: inline-block;
    align-items: center;
    // border: 1px solid;
    // border-color: red;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .ant-col  i {
    font-size: 24px;
    color: gray;
    display: inline-block;
    vertical-align: middle;
  }
}